/* CSS príncipal */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100%;

}

.center{
display: flex;
flex-wrap: wrap;
max-width: 1280px;
margin: 0 auto;
margin-top: 2%;
padding: 0 2%;
}

.logo{
    position: absolute;
    top: 10px;
    left: 5px;
}

nav{
    position: absolute;
    right: 15%;
}

nav a{
    color: rgba(0, 0, 0, 0.685);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    line-height: 50pt;
    margin-right: 20pt;
    transition: 0.3s;
    cursor: pointer;
}

nav a:hover{
    color: black;
}


.extra{
    position: fixed;
    bottom: -520px;
    right: -500px;
    width: 1000px;
    height: 900px;
    border-radius: 40em 0 0 0;
    background-color: #017143;
}

#IMG{
    position: absolute;
    left: 50px;
    top: 50px;
    height: 350px;
}

.midia{
    position:absolute;
    right: 15px;
    top: 100px;
    transition: 0.3s;
}

.midia img{
    position: relative;
    display: block;
    height: 45px;
    padding-bottom: 20px ;
    cursor: pointer;
    transition: 0.3s;
}

.midia img:hover{
    height: 50px;
}

.text h1{
    font-size: 3.2em;
    color: rgba(0, 0, 0, 0.685);
}

.text span{
    color: #017143;
}

.text p{
    margin-top: 10px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.685);
    font-size: 0.9em;
    font-weight: bold;
}

.text{
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 320px;
    left: 70px;
}

.more{
    padding: 5px;
    width: 8em;
    height: 2.6em;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 0;
    background-color: #017143;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.more:hover{
    background-color: #007544ec; 
}

.coffees{
    position: absolute;
    bottom: 0;
    right: 450px;
}

.coffees img{
    height: 112px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.coffees img:hover{
    height: 130px;
}

/* Media apenas para alturas */

@media screen and (max-height: 900px) {
    body{
        overflow: none;
    }
}

@media screen and (max-height: 750px){
    
    .text {
      top: 220px;
    }
  }

@media screen and (max-height: 600px) /* O minímo possível para telas grandes */{

    .text {
        top: 150px;
      }

    .extra{
        width: 840px;
        height: 910px;
    }

    .coffees{
        right: 270px;
    }
}

    @media screen and (max-height:515px) {

    .coffees{
        display: none;
    }
}


    @media screen and (max-height: 432px) {
        
        #IMG{
            height: 350px;
        }

        .extra{
            top: 50px;
        }
}
/* Media apenas para largura */

@media screen and (max-width: 980px){

    .extra{
        width: 850px;
    }

    .coffees{
        display: none;
    }
}

@media screen and (max-width: 900px){

    .text{
        font-size: 15px;
    }
}

@media screen and (max-width: 790px){

    .text{
        left: 10px;
    }

    .coffees{
        right: 300px;
    }
}

/* Altura e largura*/

@media screen and (max-width:2000px) and (max-height:522px) {
    
    .coffees{
        display: none;
    }
}

@media screen and (max-width:680px) and (max-height:1280px) {

    #IMG{
        left: 100px;
        height: 350px;
    }
}

/* Mobile e telas extremamente pequenas */

@media screen and (max-width:620px) and (max-height: 1000px ) {


    .logo{
        top: 100px;
        left:20px;
    }

    .midia{
        position: static;
        margin-top: 100px;
        float: right;
    }

    nav{
        display: block;
        background-color: #017143;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 110%;
        padding-left: 10px;
        font-size: 12px;
        text-align: left;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.171);
    }

    nav a{
        color: white;
        text-decoration: underline;
    }

    nav a:hover{
        color: rgba(255, 255, 255, 0.733);
    }


    .extra{
        display: none;
    }

    
    .text{
        position: absolute;
        margin: 0 auto;
        width: 340px;
        font-size: 15px;
        top: 300px;
    }
}
